<% provide(:page_title, 'Categories') %>
<% provide(:categories, 'active') %>

<div class="row">
	<table class="table table-striped">
    <tr>
      <th colspan="2">Name</th>
      <th>Description</th>
    </tr>
	<%= render @categories %>
  </table>
</div>